.card-bodys{
  width: 400%;
  height: 400%;
  display: flex;
  flex-direction: initial;
}

.characterEst{
  padding: 40px;
  margin: 10px;
  border: 1px solid black;
  text-align: left;
}

.charactercard-info{
  background-color: teal;
  
}
 